<!DOCTYPE html>
<html ng-app="universidadApp">
	<head>
		
		 <link rel="stylesheet" href="css/bootstrap.min.css">
		 <script src="js/lib/angular.min.js"></script>
		 <script src="js/app.js"></script>
		<style type="text/css">

	div{

		bordere: 1px solid #73AD21;
	}
	</style>
	</head>
	<body>
		<div class="container   " ng-controller="profesorCtrl as profe">
			<h1>Profesor</h1>
			
			<h4>{{ profesor.nombre }} </h4>
			<hr>
			<div class="row">
				<div class="col-sm-4">
					<section class="panel">
						<div class="panel-body" align="center">
							<img ng-src="{{ profesor.foto }}" alt="" class="img-circle">
						</div>
					</section>
				</div>
				
				<div class="col-sm-8">
					<section class="panel">
						<div class="panel-body" >
								<p>{{ profesor.bio}}</p>			
							<br>
							<br>
							<strong>Edad:</strong> {{ profesor.edad }}
							<br>
							<strong>materia:</strong>{{ profesor.materia }}
							<button class="btn btn-primary" ng-click="EditarProfesor()">editar</button>
						</div>
					</section>
				</div>

			</div>	

			<div class="row">
				<div class="col-sm-5">
					<section class="panel">
						<div class="panel-bbody">
							Nombre:
							<input type="text" class="form-control" ng-model="editando.nombre">
							<br>
							edad:
							<input type="text" class="form-control" ng-model="editando.edad">
							<br>
							bio:
							<textarea class="form-control" ng-model="editando.bio"></textarea>
							<br>
							materia:
							<input  class="form-control" type="text" ng-model="editando.materia">
							<br>
							<br>
							<button class="btn btn-primary" ng-click="GuardarCambios()">guardar</button>
							<button class="btn btn-danger" ng-click="CancelarCambios()"> cancelar</button>
						</div>

					</section>

				</div>

			</div>

		</div>
		
		
	</body>

</html>
<!--
el lable.control srive para justificar el texto al la derecha
cada vez que se ele agrega un col-md-# se le agrega un margen ixquiero por defecto
el form-group agrupa todo como un unico elemento donde se le puede definir el estido y cambiar el que tiene heredado de un elemento padre



-->